body {
  color: #1b3e6d;
  line-height: 1.5;
}

h1{
  font-size: 30px;
  
}
div.top_bar {
  color: yellow;
}
#logo_side {
  width: 60%;
  color: black;
  height: 40px;
}

.dropbtn {
    height: 100px;
    width: 20%;
    float: right;
    background-color: #0074c8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.menu1 {
  
  margin: 6px auto;
  background-color: white;
  height: 5px;
  width: 45px;
 
}

.page-title {
  float:right;
  color:white;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  padding-top: 20px;
  margin-right: 50px;
}


 .container {
   padding: 10px;
  font-family: "myriad-pro", Arial, sans-serif;
  
  
}
h2{
  font-size: 35px;
  margin-bottom: -.5em;
}


p{
  font-size: 15px; 
  font-weight: normal; 
  color: black;
  margin-bottom:-2em;
}
.bar {
  margin-top: 2em ;
  width: 80%;
  height: 50px;
  border: 3px solid #000;
  padding-left: 20%;
  
}




